      html, body {
       height:100vh;
        margin: 0;
        padding: 0;
        min-width: 320px;
      }
      
      #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      
      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      #right-panel {
        height: 100%;
        float: right;
        width: 390px;
        overflow: auto;
      }
  
  .onoffswitch {
        position: relative; width: 46px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        height: 15px; padding: 0; line-height: 15px;
        border: 0px solid #FFFFFF; border-radius: 23px;
        background-color: #9E9E9E;
    }
    .onoffswitch-label:before {
        content: "";
        display: block; width: 23px; margin: -4px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 27px;
        border-radius: 23px;
        box-shadow: 0 6px 12px 0px #757575;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label {
        background-color: #42A5F5;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
       border-color: #42A5F5;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label:before {
        right: 0px; 
        background-color: #2196F3; 
        box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
    }
      .form-group{
        max-width: inherit;
        white-space: nowrap;
      }
      .floating-p {
         position: absolute;
        top: 10%;
        left: 1%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        overflow: scroll;
      }
      
      
      .navbar{
          background-color:#c0dfd9;
          color:#3b3a36;
          margin-top: 10px;
      }
      .navbar-brand{
          color:#3b3a36 !important;
      }
      /*.mapholder{
        height:400px;
          margin: auto;
      }*/
      
      .goButton {
          background-color:#c0dfd9;
          float: left;
      }
  
      .toggleRoute{
        background-color:#c0dfd9;
         border-radius: 4px;
         float: right;
         margin-right: 5px;
         margin-left: 5px;
      }
      
      
      /* Small devices (landscape phones, 544px and up)*/
      @media only screen and (max-width: 544px) { 
        
        .floating-p {
        width: 100%;
        line-height: 1.3;
        /* position: relative; */
        top: 0%;
        left: 0%;
        }
        .form-group {
          max-width: 100%;;
          /* width: 30%; */
          display: inline;
          float: left;
          padding: 5px;
          
         
        }
        .cityHighway{
          display: inline;
          float: left;
          width: 23%;
          margin-right: 10px;
        }
        .everythingElse {
           
      }
        .tofrom{
          display: inline;
          float: left;
          width: 72%;
        }
        #map{
          position: absolute;
          overflow: hidden;
          background-color: rgb(229, 227, 223);
          top: 218px;
          right: 0%;
          left: 0%;
          bottom: 0%;
        }
      }

      /* Medium devices (tablets, 768px and up)*/
      @media only screen and (min-width: 545px) { 
        #map{
          position: absolute;
          top: 0%;
          left: 0%;
            bottom: 0%;
          right: 0%;
        }
      }
      
      /* Large devices (desktops, 992px and up)*/
      @media only screen and (min-width: 992px) { 
        #map {
        right: 394px;
      }
      }
      
      /* Extra large devices (large desktops, 1200px and up)*/
      @media only screen and (min-width: 1200px) { 
       #map{
         
       }
      }